mat-card {
  margin-bottom: 1.5rem;
}

.post-content {
  margin-top: 1rem;
}

app-comments {
  width : 95%;
  margin : 0.5rem auto;
  background : rgba(63, 81, 181, 0.15);
  padding : 1rem;
  border-radius : 0.5rem;
}

.w-90{
  width: 90%;
}
