/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('/assets/images/blurred-bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: normal;
  font-size: medium;

  &:hover {
    border-bottom: 1px solid whitesmoke;
  }

  &:active {
    border-bottom: none;
  }
}

.container {
  width: 70vw;
  margin : 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 100%;
  background-color: rgba(245, 245, 245, 0.71);

  padding: 1rem;
  margin: 1rem;

  border-radius: 1rem;
}

h2 {

}

